@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
/* CSS Document */

/* reset */
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, table {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 600;}
header, main, footer, section, article, aside, nav {display: block;}
a {color: inherit; text-decoration: inherit;}
a img {border: none;}
img {vertical-align: middle; max-width: 100%;}
li {list-style: none;}
address, em, i, cite {font-style: normal;}


/* common */
body{
    font-family: 'Exo2',sans-serif;
}
#wrap{
    position: relative;
    overflow: hidden;
}

header.on{
    top: 0;
    background: #222222;
    width: 1730px;
    height: 91px;
    transition: all .5s;
    overflow: hidden;
}
header.on .innerHeader{
    border: none;
    
}
header.on .innerHeader .logo{
    top: 34%;
    width: 80px;
} 

header.on .gnb li{
    margin-top: -40px;
}

section.scroll-page{
    height: 100vh;
    position: relative;
    color: #fff;
}

section#page1{
    background: #f4d2d7;
}
section#page2{
    background: #b0c4df;
}
section#page3{
    background: #c2dcd8;
}
section#page4{
    background: #ebe6c8;
}

section#page1 .animate{
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 100px;
    font-weight: bold;
}

section#page2 ul{
    width: 650px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
section#page2 ul li{
    width: 120px;
    height: 120px;
    border-radius: 5px;
    background: #eee;
    margin: 5px;
    float: left;
}
section#page3 .text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
section#page3 .text h1{
    font-feature-settings: 50px;
    margin-bottom: 20px;
    
}

section#page3 .text p{
    font-size: 20px;
    line-height: 1.4;
}

section#page4 ul{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
section#page4 ul li{
    display: inline-block;
    font-size: 150px;
    font-weight: bold;
}


/*사이드바*/
#aside{
    position: absolute;
    right: 50px;
    top: 150px;
    width: 100px;
    height: 400px;
    background: #efe2f4;
    border-radius: 5px;
    transition: top 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


@media screen and (max-width:1366px){
    
    header.on{
    top: 0;
    background: #222222;
    width: 1200px;
    height: 91px;
    transition: all .5s;
    overflow: hidden;
    
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}













