@charset "utf-8";
@import url(font-awesome.min.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/*reset*/
*{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0; font-weight: 700;text-decoration: inherit;}
img{vertical-align:middle;}
li{list-style: none;}
a{border:none;color: inherit;text-decoration: inherit;}
/*layout*/
body{
    font-size: 14px;
    font-family: 'NanumSquare', sans-serif;
}
.wrap{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.content{
    width:1200px;
    height:100%;
    margin: 0 auto;
}
header{
    position: fixed;
    width:100%;
    height: 100px;
    line-height: 100px;
    background: rgba(0,0,0,0.5);
    z-index: 200;
    top: 0;
    left: 0;
    font-family: 'Nanum Gothic',sans-serif;
    
}




header .innerHeader{
    width:1200px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;

}
header .innerHeader .logo{
    float: left;
    margin-right: 150px;
    cursor: pointer;

}

header .innerHeader .logo img{
    width:30%;
}
header .innerHeader .gnb{
    float: left;
    color:#fff;

}

header .innerHeader .gnb li {
    float: left;
    margin-right: 80px;
    transition: all .5s;
    
}
.choice{color:#ff1e1e;font-weight: bold;}
header .innerHeader .gnb li:last-child{
    margin-right: 0;
}
header .innerHeader .gnb li:hover{
    color: #f8c903;
}
/*login*/
.signin{
    position: absolute;
    top:0px;
    right:180px;
    
}
.signin .login{
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background: #fff;
    color: #000;
    font-size: 12px;
    letter-spacing: 1px;
    letter-spacing: 1px;
    transition: all .5s;
}
.signin .login:hover{
    background: #f8c903;
    color: #fff;
}
/*sns*/

.sns{
    float: right;
}
.sns a{
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-size: 25px;
    opacity: 0.7;
    transition: all .3s;
}
.sns a:hover{
    opacity: 0.9;
    transform: translateY(-10px) scale(1.2);
}
.header .innerHeader .menu_bar #name{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999999999999999999999999999999999;
    color: #000;
}
#name .gnb_top{
    overflow: hidden;
    box-sizing: border-box;
    padding: 37px 25px 15px 14px;
    border-bottom: 1px solid #d9d9d9;
    width: calc(100% - 30px);
    margin: auto;
    height: 100px;    
    position: relative;
}
#name .gnb_top h1{
    float: left;
    width: 69px;
    height: 37px;    
}
#name .gnb_top h1 a{
    display: block;
    width: 130%;
    height:90%;
    background: url(../img/logo.png) no-repeat;
    background-size: 100% 100%;    
}
#name .gnb_top .top_sign{
    position: absolute;
    top: 6px;
    right: 95px;
    padding:0 30px 0 35px;
    width: 42px;
    overflow: hidden;
    border-left: 1px solid #d9d9d9;    
    border-right: 1px solid #d9d9d9;
}
#name .gnb_top .top_sign a{
    display: block;
    width: 100%;
    height: 100%;

}
#name .gnb_top .top_sign a img{
    width: 100%;
}
#name .gnb_top .b-close{
    float: right;
    width: 35px;
    height: 35px;
    z-index: 1000;    
}
#name .gnb_top .b-close a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/gnb_menu_close.png) no-repeat;
    background-size: 100% 100%;    
}

#name .menu_bar_gnb{
    padding: 41px 45px 0;    
}
#name .menu_bar_gnb li{  

}

#name .menu_bar_gnb li a{
font-family: 'CorpidC1s-Regular';
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0.04rem;
    display: block;
    cursor: pointer;    
    
}
#name .menu_bar_gnb li a:hover{
    color: #d20000;
}
#name .gnb_bottom{
    overflow: hidden;
    padding: 20px 30px 30px 30px;
    border-top: 1px solid #d9d9d9;
    width: calc(100% - 30px);
    margin: 100px auto 0;    
}
#name .gnb_bottom .sns_list{
    overflow: hidden;
}
#name .gnb_bottom .sns_list li{
    float: left;
    height: 23px;
    margin-right: 27px;    
}
#name .gnb_bottom .sns_list li.list1{
    width: 12px;
    background: url(../img/gnb_sns1.png) no-repeat;
    background-size: 100% 100%;    
}
#name .gnb_bottom .sns_list li.list2{
width: 22px;
    background: url(../img/gnb_sns2.png) no-repeat;
    background-size: 100% 100%;    
}
#name .gnb_bottom .sns_list li.list3{
width: 24px;
    background: url(../img/gnb_sns3.png) no-repeat;
    background-size: 100% 100%;    
}
#name .gnb_bottom .sns_list li.list4{
    width: 21px;
    background: url(../img/gnb_sns4.png) no-repeat;
    background-size: 100% 100%;    
}
#name .gnb_bottom .sns_list li a{
    display: block;
    width: 100%;
    height: 100%;    
}
#name .gnb_bottom p{
    margin-top: -20px;
    font-size: 15px;    
}


/*sns*/

.sns{
    float: right;
}
.sns a{
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-size: 25px;
    opacity: 0.7;
    transition: all .3s;
}
.sns a:hover{
    opacity: 0.9;
    transform: translateY(-10px) scale(1.2);
}

/*name*/
#name{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 120%;
    background: #fff;
    z-index: 9999999999999999999999999999999999;
    color: #000;
}
#name .gnb_top{
    overflow: hidden;
    box-sizing: border-box;
    padding: 37px 25px 15px 14px;
    border-bottom: 1px solid #d9d9d9;
    width: calc(100% - 30px);
    margin: auto;
    height: 100px;    
    position: relative;
}
#name .gnb_top h1{
    float: left;
    width: 69px;
    height: 37px;    
}
#name .gnb_top h1 a{
    display: block;
    width: 130%;
    height:90%;
    background: url(../img/logo.png) no-repeat;
    background-size: 100% 100%;    
}
#name .gnb_top .top_sign{
    position: absolute;
    top: 6px;
    right: 95px;
    padding:0 30px 0 35px;
    width: 42px;
    overflow: hidden;
    border-left: 1px solid #d9d9d9;    
    border-right: 1px solid #d9d9d9;
}
#name .gnb_top .top_sign a{
    display: block;
    width: 100%;
    height: 100%;

}
#name .gnb_top .top_sign a img{
    width: 100%;
}
#name .gnb_top .b-close{
    float: right;
    width: 35px;
    height: 35px;
    z-index: 1000;    
}
#name .gnb_top .b-close a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/gnb_menu_close.png) no-repeat;
    background-size: 100% 100%;    
}

#name .menu_bar_gnb{
    padding: 41px 45px 0;    
}
#name .menu_bar_gnb li{  

}

#name .menu_bar_gnb li a{
font-family: 'CorpidC1s-Regular';
    font-size: 27px;
    font-weight: 600;
    letter-spacing: 0.04rem;
    display: block;
    cursor: pointer;    
    
}
#name .menu_bar_gnb li a:hover{
    color: #d20000;
}
#name .gnb_bottom{
    overflow: hidden;
    padding: 20px 30px 30px 30px;
    border-top: 1px solid #d9d9d9;
    width: calc(100% - 30px);
    margin: 100px auto 0;    
}
#name .gnb_bottom .sns_list{
    overflow: hidden;
}
#name .gnb_bottom .sns_list li{
    float: left;
    height: 23px;
    margin-right: 27px;    
}
#name .gnb_bottom .sns_list li.list1{
    width: 12px;
    background: url(../img/gnb_sns1.png) no-repeat;
    background-size: 100% 100%;    
}
#name .gnb_bottom .sns_list li.list2{
width: 22px;
    background: url(../img/gnb_sns2.png) no-repeat;
    background-size: 100% 100%;    
}
#name .gnb_bottom .sns_list li.list3{
width: 24px;
    background: url(../img/gnb_sns3.png) no-repeat;
    background-size: 100% 100%;    
}
#name .gnb_bottom .sns_list li.list4{
    width: 21px;
    background: url(../img/gnb_sns4.png) no-repeat;
    background-size: 100% 100%;    
}
#name .gnb_bottom .sns_list li a{
    display: block;
    width: 100%;
    height: 100%;    
}
#name .gnb_bottom p{
    margin-top: -20px;
    font-size: 15px;    
}

/*//header*/
/*container*/
.container{
    height: 100%;
}
.container .sub_visual_back{
    background: #000;
}
.container .sub_visual{
    background: url(../img/pr_bg1.png)no-repeat bottom/cover;
    background-attachment: fixed;
    width:100%;
    height: 450px;
}

.container .sub_visual .eng{
    text-align: center;
    letter-spacing: 1rem;
    color: #fff;
    font-size: 55px;
    padding-top: 245px;
    font-weight: 700;
}
.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.container .section_sub{
    background: #d61f26;
    width:100%;
    height: 50px;
    z-index: 999;
    overflow: hidden;


}
.container .section_sub .content{
     position: relative;   
}
.container .section_sub div{
    position: absolute;
    left: 210px;
    top: 8px;
    line-height: 3.5;
}
.container .section_sub div button{
    float: left;
    margin-right: 70px;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.container .section_sub div button:hover{
    text-shadow:0px 0px 1rem #fff;

}
.container .section_sub div button:last-child{
    margin-right: 0;
}


.pr .news_board{
    padding-bottom: 200px;
}


.section{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 2560px;
    min-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.news_board .content .title{
    font-size: 46px;
    font-family: 'NanumSquareB';
    text-align: center;
    padding-top: 150px;    
}

.new_board_wrap{
    margin-top: 80px;
}
.new_board_wrap .tab_st{
    overflow: hidden;
    width: 100%;
    font-size: 0;    
}

.new_board_wrap .tab_st .active{
    background: #fff;
    border-bottom: 0;
    border-top: 3px solid #d61f26;

}

.new_board_wrap .tab_st .active a{
    font-family: "NanumSquareB";    
}
.new_board_wrap .tab_st li{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    border: 1px solid #cccccc;
    background: #f6f6f6;    
}

.new_board_wrap .tab_st li a{
    font-family: "NanumSquareR";
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    color: #333;    
}
.board{
    display: block;
    width: 100%;
    margin-top: 40px;
}
.board *{
    vertical-align: middle;
}
.board .board_top{
    overflow: hidden;
}

.board .board_top .total{
    float: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;    
}
.board .board_top .total span{
    font-size: 20px;
    font-weight: 700;    
}

.board .search_wrap{
    float: right;
    font-size: 0;
    overflow: hidden;
}
.board .search_wrap>*{
    display: inline-block;    
}
.board .search_wrap input{
    width: 209px;
    border-right: 0;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 38px;
    padding-left: 13px;
    font-family: "NanumSquareR,Nanum Gothic","Noto Sans KR", "나눔고딕", "sans-serif";
    padding: 0;
    margin: 0;
}

.board .board_title{
    border-top: 2px solid #4c4c4c;
    border-bottom: 1px solid #b2b2b2;
    height: 60px;
    line-height: 60px;
    font-size: 0;
    margin-top: 15px;
}

.board .board_title p{
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    vertical-align: top;    
}

.board .board_title p.title1{
    width: 143px;
    padding-left: 44px;
}
.board .board_title p.title2{
    width: 725px;
    text-align: center;
}
.board .board_title p.title3{
    width: 170px;
}
.board .board_title p.title4{
    width: 100px;
}

.board > ul{
    width: 100%;
}
.board > ul li{
    border-bottom: 1px solid #e5e5e5;
    padding: 22px 0;
    font-size: 0;
    width: 100%;    
}
.board > ul li p{
    display: inline-block;
    font-size: 15px;
}
.board > ul li p.text1{
    width: 70px;
    padding-left: 24px;
    margin-right: 59px;
    text-align: center;
}
.board > ul li p.text2{
    width: 745px;
}
.board > ul li p.text3{
    width: 170px;    
}
.board > ul li p.text4{
    width: 92px;
    height: 100%;
    text-align: center;
}
.board > ul li p.text4 a{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/board_btn_more.png) no-repeat center center;
}
.board .pager{
    margin-top: 60px;
    text-align: center;
}
.pager ul{
    font-size: 0;
}
.pager ul li{
    display: inline-block;
    padding: 0 7px 5px 7px;
    vertical-align: top;
    margin: 0 12.5px;
}
.pager ul li a{
    display: block;
    font-weight: 700;
    font-size: 16px;    
}
.pager ul li.first{
    margin-right: 22.5px;
}
.pager ul li.active{
    border-bottom: 2px solid #d61f26;
}
.pager ul li.active a{
    color: #d61f26;
}

.pager ul li.last{
    margin-left: 22.5px;
}
/*hotdill*/
.hotdill{
    width: 100%;
    background: url(../img/hotdill_pg.png)no-repeat center/cover;
}
.hotdill .content{
    padding: 200px;
    overflow: hidden;    
}
.hotdill .content .title{
    margin-top: 110px;
}

.hotdill .content .title p{
    font-size: 60px;
    color: #fff;
    font-family: 'CorpidC1s-Bold';
    line-height: 68px;    
}

.hotdill .content .title .dash{
    display: block;
    margin-top: 36px;
    color: #fff;
}

.hotdill .content .title .dash img{
    display: block;
}
.hotdill .content .title .text_mobile{
    margin-top: 12px;
    font-size: 20px;
    color: #fff;
}
/*ch_cood*/
.ch_cood{
    height: 1624px;
}

.ch_cood .content .title{
    padding-top: 200px;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.ch_cood .content .view_wrap{
    position: relative;
    padding-bottom: 60px;
    border-bottom: 1px solid #c2c2c2;
    margin-top: 80px;
}
.ch_cood .content .view_wrap .view{
    position: relative;
    width: 1200px;
    height: 675px;
}
.ch_cood .content .view_wrap .sub_title{
    font-size: 24px;
    margin-top: 30px;
}
.ch_cood .content .view_wrap .data{
    position: absolute;
    right: 0;
    bottom: 67px;
    font-size: 14px;
    font-family: 'NanumSquareL';
    color: #333;
}
.ch_cood .content .video_li{
    margin-top: 40px;
}
.ch_cood .content .video_li > ul{
    font-size: 0;
}

.ch_cood .content .video_li > ul > li{
    display: inline-block;
    margin-right: 27.55px;
    border: 1px solid #ddd;
    width: 277.11px;
    height: 258px;
    background: #fff;
}
.ch_cood .content .video_li > ul > li:last-child{
    margin: 0;
}
.ch_cood .content .video_li > ul > li .thumb{
    position: relative;
    width: 290px;
    height: 157px;
}

.ch_cood .content .video_li > ul > li .thumb img{
    height: 100%;
    width: auto;
}

.ch_cood .content .video_li > ul > li .thumb .mask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.ch_cood .content .video_li > ul > li .thumb .mask a{
    display: block;
    width: 100%;
    height: 100%;
}
.video_li > ul > li .text{
    padding: 24px 20px;
}
.video_li > ul > li .text .thumb_title{
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}
.video_li > ul > li .text .data{
    font-size: 12px;
    color: #333;
    margin-top: 28px;
}
.video_li .pager{
    margin-top: 60px;
    text-align: center;
}
.video_li .pager ul{
    font-size: 0;
}

.video_li .pager ul li.first{
    margin-right: 22.5px;
}
.video_li .pager ul li{
    display: inline-block;
    padding: 0 7px 5px 7px;
    vertical-align: top;
    margin: 0 12.5px;    
}
/*ci_bi*/
.ci_bi{
    padding-bottom: 150px;
}
.ci_bi .logo_title{
    padding-top: 200px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}
.ci_bi .view_wrap{
    width: 100%;
    margin-top: 80px;
}
.ci_bi .view_wrap .view{
    width: 100%;
    height: 460px;
}
.ci_bi .view_wrap .bottom{
    overflow: hidden;
    padding-bottom: 40px;
    margin-top: 60px;
    border-bottom: 1px solid #ccc;
}
.ci_bi .view_wrap .bottom > *{
    float: left;
    
}
.ci_bi .view_wrap .bottom .description{
    margin-left: 25px;
}
.ci_bi .view_wrap .bottom .description .title{
    font-size: 20px;
    font-weight: bold;
    color: #010101;
}

.ci_bi .view_wrap .bottom .description .text{
    font-size: 15px;
    line-height: 22px;
    margin-top: 9px;
}
.ci_bi .view_wrap .bottom .description .text span{
    font-family: 'NanumSquareB';
    font-weight: 700;
}
.ci_bi .view_wrap .bottom .btn_ci_down{
    float: right;
    margin-top: 25px;
}
















/*footer*/
footer{
    height: 130px;
    border-top: 1px solid #eee;
    clear: both;
    background: #1a1a1a;
    padding-bottom: 25px;
    position: relative;
}
footer .footer_inner{
    position: relative;
    width:1200px;
    margin: auto;
    padding: 50px;
}
footer .footer_inner .ftLogo{
    width:130px;
    overflow: hidden;
    float: left;
    line-height: 3;
}
footer .footer_inner .ftLogo img{
    width:100%;
}

footer .footer_inner .address{
    color: #fff;
    margin-left: 100px;
    float: left;
}
footer .footer_inner .address li{
    margin-bottom: 8px;
}

footer .footer_inner .ft_sns{
    float: right;
}

footer .footer_inner .ft_sns li{
    float: left;
    margin-right: 10px;
    line-height: 4;
}

/*1024*/
@media screen and (max-width:1024px){
.content{width: 900px;margin: 0;}
    header{
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgba(0,0,0,0.5);
    z-index: 200;
    top: 0;
    left: 0;
    font-family: 'Nanum Gothic',sans-serif; 
    }

    header .innerHeader {
    position: relative;
    width: 100%;
    height: 100%;
    }
    header .innerHeader .logo{
    position: absolute;
    left: 30px;
    top: 0px;
    width: 300px;
    height:300px;
    }
    .container .sub_visual .eng{font-size: 30px;}
    header .innerHeader .menu_bar{
    position: absolute;
    right: 40px;
    top: 35px;
    width: 35px;
    height: 35px;    
    }
    header .innerHeader .menu_bar #burger{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/gnb_menu_off.png) no-repeat;
    background-size: 100% 100%;    
    }
    .gnb,.signin{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background: #fff;
    z-index: 10;
    display: none;        
    }
    .sns a i{display: none;}
    .main{height: 900px;}  
    .main .title{left: 31%;}

/*container*/
/*section_sub*/
    .container .section_sub .content{left: 120px;}
/*new_board*/
    .pr .news_board .content{padding-left: 50px;}
    .board > ul{margin-top: 20px;}
    .board .board_top .total{display: none;}
    .board .search_wrap input{width: 850px;}
    .board .board_title{display: none;}
    .board > ul li p.text1{display: none;}
    .board > ul li p.text2{font-size: 18px;margin-bottom: 5px;}
    .board > ul li p.text3{width: 800px;}
    .board > ul li p.text4{padding-bottom: 20px;box-sizing: border-box;}

/*hotdill*/
    .hotdill .content{padding: 100px;}
/*.ch_cood*/
    .ch_cood{height: 2000px;}
    .ch_cood .content{padding-left: 70px;}
    .ch_cood .content .view_wrap .view{width: 900px;height: 504.66px; overflow: hidden;}
    .ch_cood .content .view_wrap .view img{width:100%;}
    .ch_cood .content .video_li > ul > li:nth-child(2){margin: 0;}
    .ch_cood .content .video_li > ul > li{width: 433px;height: 400px;margin-bottom: 20px;}
    .ch_cood .content .video_li > ul > li .thumb{width: 433px;height: 200px;}
    .ch_cood .content .video_li > ul > li .thumb .img{width: 433px;overflow: hidden;}
    .ch_cood .content .video_li > ul > li .thumb img{width: 100%;}
    .ch_cood .content .video_li > ul > li .thumb .mask{height: 245px;}
    .video_li > ul > li .text{margin-top: 50px;}
    .video_li > ul > li .text .thumb_title{font-size: 25px;}
    .video_li > ul > li .text .data{font-size: 20px;}
/*ci bi*/
    .ci_bi .content{padding-left: 70px;}
    .ci_bi .view_wrap .view{height: 400px;}
    .ci_bi .view_wrap .view img{width: 100%;}
    .ci_bi .view_wrap .bottom .description .text{font-size: 17px;}
/*footer*/
    footer{width: 100%;height: 200px;}
    footer .footer_inner{width: 900px;padding: 0px; padding-top: 10px;}   
    footer .footer_inner .ftLogo{width: 70px;float: none;margin: 0 auto;}
    footer .footer_inner .address{float: none;margin: 0 auto;text-align: center;font-size: 12px;}
    footer .footer_inner .ft_sns{float: none;margin: 0 auto;display: block;border-top: 1px solid #7c7c7c;margin-top: 20px; width: 400px;padding-left:300px;overflow: hidden;}
}


/*414*/
@media screen and (max-width:414px) {
.content{width: 380px;}
    header{
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgba(0,0,0,0.5);
    z-index: 200;
    top: 0;
    left: 0;
    font-family: 'Nanum Gothic',sans-serif; 
    }

    header .innerHeader {
    position: relative;
    width: 100%;
    height: 100%;
    }
    header .innerHeader .logo{
    position: absolute;
    left: 30px;
    top: 0px;
    width: 300px;
    height:300px;
    }
    header .innerHeader .menu_bar{
    position: absolute;
    right: 40px;
    top: 35px;
    width: 35px;
    height: 35px;    
    }
    header .innerHeader .menu_bar #burger{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/gnb_menu_off.png) no-repeat;
    background-size: 100% 100%;    
    }
    .gnb,.signin{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background: #fff;
    z-index: 10;
    display: none;        
    }
    .sns a i{display: none;}
    .main{height: 900px;}  
    .main .title{left: 31%;}  

/*container*/
/*    section_sub*/
    .container .section_sub .content{
        left: 0px;
    }
    .container .section_sub div{left: 40px;}
/*new_board*/
    .pr .news_board .content{padding-left: 20px;}
    .news_board .content .title{font-size: 30px;padding-top: 100px;}
    .new_board_wrap{margin-top: 50px;}
    .new_board_wrap .tab_st{text-align: center;}
    .new_board_wrap .tab_st li{width: 45%;height: 40px;line-height: 42px;}
    .board{margin-top: 20px;}
    .board .search_wrap{margin-right: 20px;}
    .new_board_wrap .tab_st li a{font-size: 16px;}
    .board > ul{margin-top: 20px;width: 90%;margin-left: 20px;}
    .board > ul li{padding: 7px 0;}
    .board .board_top .total{display: none;}
    .board .search_wrap input{width: 300px;}
    .board .board_title{display: none;}
    .board > ul li p.text1{display: none;}
    .board > ul li p.text2{font-size: 12px;margin-bottom: 5px;width: 289px;height: 15px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    .board > ul li p.text3{width: 289px;font-size: 10px;}
    .board > ul li p.text4{padding-bottom: 20px;box-sizing: border-box;width: 20px;padding-left: 30px;}
    .pager ul li{margin: 0 8px;}
    .pager ul li a{font-size: 12px;}

/*hotdill*/
    .hotdill{background: url(../img/hotdill_pg_mobile.png)no-repeat center/cover;}
    .hotdill .content{padding: 30px;padding-bottom: 500px;padding-top: 50px;}
    .hotdill .content .title p{font-size: 40px;}
    .hotdill .content .title .dash{margin-top: 10px;}
    .hotdill .content .title .text_mobile{margin-top: 0;}
    .hotdill .content .title{margin-top: 10px;}
/*.ch_cood*/
    .ch_cood{height: 1000px;}
    .ch_cood .content{padding-left: 15px;}
    .ch_cood .content .title{font-size: 30px;padding-top: 100px;}
    .ch_cood .content .view_wrap{margin-top: 30px;padding-bottom:20px;}
    .ch_cood .content .view_wrap .view{width: 380px;height: 214px; overflow: hidden;}
    .ch_cood .content .view_wrap .sub_title{font-size: 15px;}
    .ch_cood .content .view_wrap .data{bottom: 22px;}
    .ch_cood .content .view_wrap .view img{width:100%;}
    .ch_cood .content .video_li > ul > li:nth-child(2){margin: 0;}
    .ch_cood .content .video_li > ul > li{width: 180px;height:200px;margin-bottom: 20px;margin-right: 16px;}
    .ch_cood .content .video_li{margin-top: 20px;}
    .ch_cood .content .video_li > ul > li .thumb{width: 180px;height: 102px;}
    .ch_cood .content .video_li > ul > li .thumb .img{width: 180px;overflow: hidden;}
    .ch_cood .content .video_li > ul > li .thumb img{width: 100%;}
    .ch_cood .content .video_li > ul > li .thumb .mask{height: 102px;}
    .video_li > ul > li .text{margin-top: 10px;padding: 10px;}
    .video_li > ul > li .text .thumb_title{font-size: 12px;}
    .video_li > ul > li .text .data{font-size: 10px;}
    .video_li .pager{margin-top: 30px;}
/*ci bi*/
    .ci_bi{padding-bottom: 80px;}
    .ci_bi .content{padding-left: 20px;}
    .ci_bi .logo_title{padding-top: 100px;font-size: 30px;}
    .ci_bi .view_wrap{margin-top: 30px;}
    .ci_bi .view_wrap .view{height: 146px;}
    .ci_bi .view_wrap .view img{width: 100%;}
    .ci_bi .view_wrap .bottom .description .text{font-size: 11px;}
    .ci_bi .view_wrap .bottom{margin-top: 20px;}
    .ci_bi .view_wrap .bottom > *{float: none;width: 250px;overflow: hidden;margin-left: 60px;}
    .ci_bi .view_wrap .bottom p img{width: 100%;}
    .ci_bi .view_wrap .bottom .description{text-align: center;margin-left: 60px;margin-top: 20px;}
    .ci_bi .view_wrap .bottom .description .title{font-size: 17px;}
    .ci_bi .view_wrap .bottom .btn_ci_down{float: none;margin-left: 116px;}
/*footer*/
    footer{width: 100%;height: 200px;}
    footer .footer_inner{width: 414px;padding: 0px; padding-top: 10px;}
    footer .footer_inner .ftLogo{width: 70px;float: none;margin: 0 auto;}
    footer .footer_inner .address{float: none;margin: 0 auto;text-align: center;font-size: 12px;}
    footer .footer_inner .ft_sns{float: none;margin: 0 auto;display: block;padding-left: 50px;border-top: 1px solid #7c7c7c;margin-top: 20px; width: 150px;}  

}